<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/client">Community</a>
        </li>
        
        {{#if session.authenticated}}
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/if}}
       
      </ul>
      <form class="d-flex" action="/search">
        <input class="form-control me-2" type="text" name="keyword" placeholder="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

